<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Nome Conta</label>
        <input
          type="text"
          [(ngModel)]="account.name"
          #emailValidate="ngModel"
          class="form-control"
          id="name"
          required="true"
          name="name"
          autocomplete="false"
        />
      </div>
      <div class="form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">R$</span>
          <span class="input-group-text">0.00</span>
        </div>
        <input type="text"         
        [(ngModel)]="account.balance"
        id="balance"
        name="balance"
        #balance="ngModel"
        autocomplete="false"
        disabled={{edit}}
        class="form-control" aria-label="Quantia em Reais (com ponto e duas casas decimais)">
      </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Salvar</button>
  </form>